@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.area {
  margin: 48px 0;
}

.titles {
  margin: 12px 0;
  font-size: 16px;
  color: #7342d6;
} 

.titles__large {
  margin: 24px 0;
  font-size: 48px;
  font-weight: 900;
}

.list__title {
  margin: 12px 0;
  font-size: 24px;
  font-weight: 900;
}

.para {
  margin: 12px 0;
  color: grey;
  line-height: 2;
  font-weight: 700;
}

.purple {
  color:  #7342d6;
}

.btn {
  margin: 12px 0;
  padding: 12px 24px;
  border-radius: 24px;
  background-color: #7342d6;
  font-weight: 700;
  color: white;
}

a {
  margin-right: 24px;
  color: black;
  text-decoration: none;
  font-weight: 700;
}

/*

NAVIGATION

*/

.nav {
  border: 8px solid #7342d6;
  padding: 12px 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__brand--container {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  padding-right: 12px;
}

.brand {
  font-weight: 900;
  color: grey
}

.modal__link--primary 

.nav__link {
  color: grey;
  text-decoration: none;
  font-weight: 700;
  padding: 0 12px;
}

.nav__link--login {
  margin-left: 24px;
}

.nav__link--sign-up {
  margin: 12px 0;
  padding: 12px 24px;
  border-radius: 24px;
  background-color: #7342d6;
  font-weight: 700;
  color: white;
}

/*

TEMPLATES

*/

.header {
  display: flex;
  margin: 36px;
}

.templates__description {
  padding: 12px 0 12px 24px;
  display: flex;
  flex-direction: column;
}

.templates__para {
  margin: 12px 0;
  padding-right: 12px;
  line-height: 1.5;
  font-weight: 900;
  color: grey;

}

.cta-container {
  margin: 12px 68px 48px 0;
  display: flex;
  justify-content: space-between;
  border: solid lightgrey 2px ;
  border-radius: 36px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.email-input {
  margin-left: 24px;
  border: none;
}

.cta-button {
  padding: 12px 24px;
  border-radius: 36px;
  background-color: #7342d6;
  color: white;

}

.h6 {
 margin: 12px 0;
  color: grey;
}

.templates__img--wrapper {
  
  width: 70%;
}

.templates__img {
  width: 100%;
}

.template__picture {
  width: 100%;
}

.template__img--wrapper {
  width: 100%;
  padding: 32px 0;
}

.template__img {
  width: 100%;
}

/*

FEATURES

*/

.features__container {
  width: 100%;
  max-width: 1200px;
  margin: 120px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__header {
  text-align: center;
  margin: 12px 0;
}

.features__title {
  margin: 12px 0;
  font-size: 24px;
  color: #7342d6;
}

.features__sub-title {
  font-size: 56px;
  font-weight: 900;
}

/*

SERVICES

*/

.services {
  display: flex;
  flex-wrap: wrap;
  margin: 24px 0;
}

.service {
  display: flex;
  width: calc(100%/3);
  margin: 12px 0;
  padding: 0 12px;
}

.service__description {
  margin: 12px;
}

.service__icon--wrapper {
  font-size: 24px;
}

.icon {
  border: solid 4px lightgrey;
  border-radius: 50px;
  margin: 24px;
  padding: 24px;
}

.service__description {
  display: flex;
  flex-direction: column;
}

/*

QUALITY

*/

.quality {
  margin: 24px 0;
}

.quality__work {
  margin: 32px 0;
  padding: 12px 0;
  width: 100%;
  display: flex;
}

.quality__work--description {
  width: 50%;
  padding: 12px;
  display: flex;
  flex-direction: column;
}

.quality__img--wrapper {
  width: 50%;
}

.quality__img{
  width: 100%;
}

/*

STEPS

*/

.steps {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.list__para {
  margin: 12px 0;
  padding-right: 40%;
  color: grey;
  line-height: 2;
  font-weight: 700;
}

.half__pic {
  width: 50%;
}

.half__pic--img {
  width: 100%;
}
