@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Inter', "Roboto", sans-serif;
  color: #243e63;
}

html {
  scroll-behavior: smooth;
}

body {
  /*max-width: 100vw;*/
  overflow-x: hidden ;
  margin: 0 auto;
  /*max-width: 1280px;*/
  letter-spacing: .5px;
}

.row {
  padding: 0 32px 0 32px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  letter-spacing: 0.35px;
}

.fadeInLeft {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  opacity: 0;
  transform: translateX(-100%);
  animation: fadeInLeft 1s ease-out forwards;
}

@keyframes fadeInLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeInRight {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  opacity: 0;
  transform: translateX(100%);
  animation: fadeInRight 1s ease-out forwards;
}

@keyframes fadeInRight {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.titles {
  margin: 0 0 12px 0;
  font-size: 16px;
  color: #6415ff;
} 

.titles__large {
  margin: 12px 0;
  font-size: 48px;
  font-weight: 900;
}

.list__title {
  font-size: 24px;
  font-weight: 900;
}

.para {
  margin: 12px 0;
  line-height: 2;
  font-size: 18px;
}

.purple {
  color:  #6415ff;
}

.btn {
  max-width: 140px;
  margin: 12px 0;
  padding: 12px 32px;
  border: none;
  border-radius: 24px;
  background-color:  #6415ff;
  font: 14px;
  font-weight: 700;
  color: #FFF;
}

.btn:hover {
  opacity: 0.8;
  transition: opacity 300ms ease;
}

a {
  font-size: 24px;
  text-decoration: none;
  font-weight: 700;
}

a:hover {
  transition: opacity 300ms ease;
}

.no-cursor {
  cursor: no-drop;
}

.underline {
  position: relative;
  display: inline-block;
}

.underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  background: white;
  transition: width 300ms ease;
}

.underline:hover::after {
  width: 100%;
}

/*

NAVIGATION

*/

.nav {
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.logo__brand--container {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding-bottom: 4px;
}

.logo {
  width: 40px;
  height: 40px;
}

.brand {
  margin-left: 12px;
  padding-bottom: 2px;
  letter-spacing: 1.5px;
  font-size: 24px;
  font-weight: 900;
}

.nav__links--container {
  display: flex;
  align-items: center;
  padding-bottom: 2px;
}

li {
  list-style: none;
}

.nav__link {
  margin: 0 24px;
  padding-top: 4px;
  display: flex;
  justify-content: center;
  list-style: none;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  position: relative;
}

#highlights:before,
#highlights:after {
  background: url('assets/assets/wave.svg');
  content: "";
  position: absolute;
  width: 100vw;
  height: 12vw;
  left: 0;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
}
#highlights:before {
  top: 1px;
  transform: translateY(-100%);
}

#highlights:after {
  bottom: 1px;
  background-repeat: no-repeat;
  transform: translateY(100%) rotate(180deg);
}

.link__hover-effect:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  bottom: -3px;
  right: 0;
  transition: all 300ms ease;
  background-color: #6415ff;
}

.link__hover-effect:hover:after {
  width: 100%;
  left: 0;
}

.nav__link--login {
  margin: 0 24px 0 48px;
  padding-top: 4px;
  display: flex;
  justify-content: center;
  list-style: none;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .38px;
}

.nav__link--primary {
  margin: 2px 0 0;
  padding: 10px 32px;
  border-radius: 24px;
  background-color: #6415ff;
  font-weight: 500;
  color: white;
  transition: all 450ms ease-in-out;
}

.nav__link--primary:hover {
  background-color: #7a4bda;
}

.btn__menu {
  border: none;
  background-color: transparent;
  font-size: 24px;
  text-align: center;
  color: #6415ff;
  display: none;
}

.menu__backdrop {
  position: absolute;
  background-color: #242424;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease;
  opacity: 0;
  visibility: hidden;
}

.menu--open .menu__backdrop {
  opacity: 1;
  visibility: hidden;
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__list {
  padding: 32px 0;
}

.menu__link {
  font-size: 40px;
  color: white;
}

.btn__menu--close {
  position: absolute;
  right: 20px;
  top: 10px;
  padding: 8px;
  color: white;
}

/*

TEMPLATES

*/

.header {
  padding: 96px 0;
  max-width: 1280px;
  margin: 0 auto;
}

.header__row {
  margin: 0 auto;
  margin: 0 32px;
  padding: 0;
}

.templates__description {
  max-width: 40%;
  margin: 0 0;
  display: flex;
  flex-direction: column;
}

.titles__large--templates {
  font-size: 48px;
  font-weight: 700; 
  color: #1A202C;
}

.templates__para {
  margin: 32px 0;
  line-height: 1.5;
  font-size: 18px;
}

.cta-container {
  width: 100%;
  max-width: 448px;
  height: 68px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.email-input {
  width: 100%;
  border-radius: 500px;
  opacity: border 0.3;
  padding: 20px 192px 20px 32px;
  font-size: 16px;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  border: 1px solid rgba(0, 0, 0, 0.2); /* initial low opacity */
  transition: border-color 0.5s ease;   /* smooth transition */
}

.email-input:hover {
  transition: border opacity 300ms ease;
  border-color: rgba(0, 0, 0, 1); /* full opacity on hover */
}

.cta-button {
  z-index: 2;
  margin: 8px;
  padding: 16px 32px;
  height: calc(100%-16px);
  border-radius: 500px;
  width: 160px;
  border: none;
  background-color: #6415ff;
  font-size: 16px;
  font-weight: 900;
  color: white;
  transition: all 450ms ease-in-out;
}

.cta-button:hover {
  background-color: #7a4bda;
}

.p {
  margin-top: 80px;
  font-size: 12px;  
  font-weight: 700;
  color: #a0aec0;
}

.templates__img {
  width: 100%;
  filter: grayscale(1) invert(1);
  margin-top: 16px;
  /*padding-right: 128px; */ 
}

.template__picture {
  width: 55%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.template__img--wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 85%;
}

.template__img {
  width: 100%;
}

/*

FEATURES

*/

.features__row {
  max-width: 1280px;
  margin: 0 32px;
  margin: 0 auto;
}

.features__container {
  padding: 96px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__header {
  margin-bottom: 48px;
  text-align: center;
  letter-spacing: 1px;
}

.features__title {
  margin: 0;
  font-size: 16px;
  color: #6415ff;
}

.features__sub-title {
  margin: 16px 0;
}

.para__features {
  margin-bottom: 32px;
  max-width: 512px;
  margin: 0 auto;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: #7C8BA1;
  font-size: 16px;
  font-weight: 500;
}

/*

SERVICES

*/

.services {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.service {
  display: flex;
  max-width: 341px;
  margin: 0 16px;
  padding: 32px 8px;
}

.icon {
  border: 1px solid rgba(211, 211, 211, 0.5); /* Light grey with 50% opacity */
  border-radius: 50px;
  padding: 20px;
}

.service__description {
  margin: 8px 0 0 16px;
  display: flex;
  flex-direction: column;
}

.service__list--title {
  margin: 0 0 0 0;
  font-size: 24px;
  font-weight: 500;
}

.service__para {
  margin: 16px 0 0 0;
  font-size: 16px; 
  font-weight: 500; 
  color: #7C8BA1;
}

/*

QUALITY

*/

.quality__work {
  max-width: 1280px;
  margin: 0 36px;
  margin: 0 auto;
  padding: 96px 0;
  display: flex;
}

.quality__work--description {
  width: 45%;
  margin-right: 64px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.quality__titles {
  margin: 0;
}

.quality__titles--large {
  max-width: 100%;
  margin: 16px 0px;
  font-weight: 900;
}

.quality__para {
  line-height: 1.5;
  color: #7C8BA1;
}

.quality__btn {
  margin-bottom: 0;
  font-size: 14px;
}

.quality__img--wrapper {
  position: relative;
  width: 100%;
}

.quality__picture {
  width: 55%;
  margin: 0 56px;
}

.quality__img{
  width: 100%
}

/*

LAPTOP AND STEPS

*/

.laptop__steps--box {
  padding: 96px 32px;
  display: flex;
}

.laptop__steps--wrapper {
  display: flex;
  flex-wrap: wrap;
}

.laptop {
  width: 50%;
  display: flex;
  justify-self: center;
  align-items: center;
}

.laptop__pic--wrapper {
  width: 100%;
}

.laptop__pic--img {
  width: 100%;
}

.steps {
  width: 50%;
  padding: 32px 0 32px 64px;
  display: flex;
  flex-direction: column;
}

.steps__title {
  margin-bottom: 0;
}

.steps__title--large {
  margin: 16px 0;
}

.steps__container {
  display: flex;
  flex-wrap: wrap;
}

.step__container {
  max-width: 85%;
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  letter-spacing: normal;
}

.step__number {
  margin-right: 24px;
  font-size: 36px;
  font-weight: 700;
  color: #CBD5E0;
  align-items: flex-end;
}

.step__description {
  display: flex;
  flex-direction: column;
}

.list__title--step {
  font-size: 20px;
  font-weight: 500;
}

.step__para {
  margin-top: 12px;
  line-height: 1.5;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 500;
  color: #718096;
}

/*

VALUES

*/

.values__description--picture {
  padding: 96px 0;
  display: flex;
}

.values__description {
  padding: 32px 64px 32px 0;
  flex-direction: column;
  width: 50%;
}

.values__titles--large {
  margin: 16px 12px 32px 0;
}

.values__para {
  margin: 32px 0 0;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 100;
  color: #718096;
  font-weight: 400;
}

.value_para {
  line-height: 2.0
}

.values__cards {
  display: flex;
  flex-wrap: wrap;
}

.value__card {
  margin: 32px 32px 0 0;
}

.value__card--2 {
  margin: 32px 32px 0 0;
}

.value__card--heading {
  display: flex;
  align-items: center;
}

.value__icon--wrapper {
  font-size: 20px;
  border: none;
  border-radius: 50px;
  background-color: #9AE6B4;
  padding: 8px;
}

.value__icon--wrapper-2 {
  font-size: 20px;
  border: none;
  border-radius: 50px;
  background-color: #FEB2B2;
  padding: 8px;
}

.fa-suitcase {
  color: rgb(155, 44, 44);
}

.fa-dollar-sign {
  color: rgb(39, 103, 74);
}

.value__list--title {
  margin: 0 0 0 16px;
  font-size: 20px;
}

.value__para {
  margin: 16px 0 0 0;
  line-height: 1.5;
  font-size: 16px;
  color: #7C8BA1;
}

.btn__values {
  margin: 48px 0 0 0;
  font-size: 14px;
}

.values__picture {
  width: 50%;
  display: flex;
  justify-content: start;
}

.values__pic {
  width: 100%;
}

/*

PRICING

*/

.plans {
  padding: 96px 32px 0 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #1A202C;
}

.pricing__title {
  margin-top: 40px;
}

.pricing__title--large {
  margin: 16px 0;
  font-size: 48px;
}

.plans__para {
  max-width: 528px;
  line-height: 1.5;
  font-size: 18px;
  color: #7C8BA1;
  font-weight: 400;
}

.pricing__cards {
  padding-bottom: 96px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
}

.pricing__card {
  width: calc((100% - 64px) / 3);
  max-width: 385px;
  margin: 64px 0 0 0;
  border: 0.5px solid rgba(211, 211, 211, 0.5); /* Light grey with 50% opacity */
  border-radius: 24px;
  overflow: hidden;
  box-shadow: 
  rgba(0, 0, 0, 0) 0px 0px
  rgba(0, 0, 0, 0) 0px 0px,
  rgba(0, 0, 0, 0.1) 0px 1px,
  rgba(0,0,0,0.06) 0px 2px 4px,;
  position: relative;
  z-index: 2;
  background: #fff;
  }
  
.pricing__card--package {
  font: 20px;
}

.pricing__card--price {
  margin: 4px 0;
  font-size: 40px;
  font-weight: 900;
}
.pricing__card--term {
  margin: 0 0;
  color: #A0AEC0;
}

.green {
  position: relative;
}

.green::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8px;
  background: linear-gradient(to right, teal, #00d1b2);
  border-radius: 12px;
}

.blue {
  border-radius: 12px;
  color: #F7FAFC;
}

.orange::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8px;
  background: linear-gradient(to right, rgb(245, 101, 101) 0% , rgb(254, 178, 178) 100%);
  border-radius: 12px;
}

.pricing__box {
  padding: 32px 0;
  border: solid 1px lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing__card--package {
  margin: 12px;
  font-size: 24px;
  font-weight: 500;
  color: #1A202C;
}

.pricing__card--packageB {
  margin: 12px;
  font-size: 24px;
  font-weight: 500;
  color: #F7FAFC;
}

.pricing__card--price {
  font-size: 48px;
  font-weight: 700;
  color: #1A202C;
}

.pricing__card--priceB {
  margin: 4px 0;
  font-size: 48px;
  font-weight: 700;
  color: #F7FAFC;
}

.term__blue {
  color: white;
}

.pricing__description {
  padding: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px lightgrey;
}

.pricing__package--description {
  margin-bottom: 24px;
  font-weight: 700;
}

.pricing__package--list-item {
  margin-bottom: 20px;
  color: #718096;
}

.pricing__package--list-itemB {
  margin-bottom: 20px;
  color: #F7FAFC;
}

.button {
  border: solid 1px lightgrey;
  display: flex;
  justify-content: center;
}

.btn__green {
  margin: 24px;
  padding: 16px 64px;
  border-radius: 56px;
  background: linear-gradient(to right, teal, #00d1b2);
  border: none;
  color: white;
  font-weight: 700;
}

.box__blue {
  background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
  border-color:  rgb(76, 81, 191);
}

.btn__blue {
  margin: 24px;
  padding: 16px 64px;
  border-radius: 56px;
  background-color: white;
  border: none;
  color: #6415ff;
  font-weight: 700;
}

.btn__orange {
  margin: 24px;
  padding: 16px 64px;
  border-radius: 56px;
  background: linear-gradient(to right, rgb(245, 101, 101) 0% , rgb(254, 178, 178) 100%);
  border: none;
  color: white;
  font-weight: 700;
}

.cursor__no-drop {
  cursor: no-drop;
}

/*

TESTIMONIALS

*/

.testimonials {
  padding: 96px 0;
  width: 100%;  
  display: flex;
  align-items: center;
}

.testimonials__pic--wrapper {
  width: 40%;
}

.testimonials__pic {
  width: 100%;
}  

.testimonials__description {
  width: 60%;
  padding: 0 0 0 64px;
  flex-direction: column;
  justify-content: center;
}

.testimonial__title {
  margin-bottom: 16px;
}

.description__para {
  margin-top: 24px;
  font-size: 18px;
  line-height: 1.5;
}

.client__testimonial {
  margin-top: 40px;
}

.fa-star {
  color: #fabf2a;
}

.review__title {
  margin: 16px 0;
  font-size: 20px;
  font-weight: 900;
  color: #243E63;
}

.review {
  margin: 16px, 0, 40px, 0;
  font-size: 16px;
  color: #4A5568;
  line-height: 1.5;
}

.client__img--wrapper {
  width: 80px;
  height: 80px;
}

.client__and--arrows {
  display: flex;
}

.client__and--arrows{
  justify-content: space-between;
}

.client {
  width: 70%;
  display: flex;
  align-items: center;
}

.client__img {
  width: 100%;
  border-radius: 50px;
}

.name__and--role {
  margin: 32px 0 0 32px;
  display: flex;
  flex-direction: column;
}

.name {
  margin: 0 0 8px 0;
  font-size: 20px;
  font-weight: 700;
  color: #243E63;
}

.role {
  font-size: 16px;
  color: #7C8BA1;
}

.arrows {
  display: flex;
  align-items: center;
}

.arrow {
  width: 48px;
  height: 48px;
  margin: 0 12px;
  padding: 16px;
  border: none;
  border-radius: 50px;
  background-color: #EDF2F7;
}

.fa-arrow-left {
  width: 12px;
  color: #6415ff;
}

.fa-arrow-right {
  color: #6415ff;
}

/*

WORLD CARD

*/

.world__card {
  width: 100%;
  max-width: 1200px;
  padding: 96px 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
}

.world__card--wrapper {
  margin: 0 32px;
  padding: 96px 0;
  display: flex;
  justify-content: center;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #6415ff;
}

.world__text {
  max-width: 448px;
  font-size: 30px;
  font-weight: 700;
  color: #F7FAFC;
  text-align: left;
}

.world__buttons {
  display: flex;
  justify-content: center;
}

.world__btn {
  margin: 1px 32px 1px 1px;
  padding: 20px 40px;
  border: none;
  border-radius: 50px;
  background-color: #F56565;
  font-weight: 700;
  font-size: 16px;
  color: #F7FAFC;
  transition: all 450ms ease-in-out;
}

.world__btn:hover {
  background-color: #e53e3e
}

.world__btn--contact {
  margin: 1px;
  padding: 20px 40px;
  border: solid 1px #F7FAFC;
  border-radius: 50px;
  background-color: transparent;
  font-weight: 700;
  font-size: 16px;
  color: #F7FAFC;
}

.world__btn--contact:hover {
  background-color: #F7FAFC;
  color: #6415ff;
  transition: all 450ms ease-in-out;
}

/*

FOOTER

*/

footer {
  max-width: 100vw;
  width: 100%;
  margin-bottom: -32px;
  background-color: #6415ff;
}

.footer__container {
  max-width: 100vw;
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 96px;
  padding: 96px 32px;
}

.footer__links {
  width: 100%;
  padding-bottom: 112px;
  display: flex;
  justify-content: space-between;
  align-items: auto;
}

.links {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  color: white;
}

.link__type {
  margin-bottom: 24px;
  align-items: flex-start;
  color: white;
}

.link {
  list-style: none;
  margin: 12px 0;
  position: relative;
}

.link__anchor {
  font-size: 14px;
  color: white;
  font-weight: 500;
  position: relative;
  display: inline-block;
}

.link__anchor:hover {
  color: white;
}

.link__anchor:after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  height: 2px;
  width: 0;
  background: #fff;
  transition: all 300ms ease;
  opacity: 0;
}

.link__anchor:hover:after {
  width: 100%;
  opacity: 1;
}

.footer__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6415ff;
}

.footer__logo--brand {
  margin: 0px;
  padding: 0px;
}

.footer__logo {
  width: 32px;
  height: 32px;
  padding: 0;
}

.footer__logo--text {
  font-weight: 900;
}

.footer__brand {
  margin-left: 8px;
  font-size: 20px;
  letter-spacing: 1.5px;
  color: white;
}

.trademarks {
  color: #CBD5E0;
}

.footer__socials {
  display: flex;
}

.socials {
  margin-left: 8px;
  padding: 8px;
  background-color: #F7FAFC;
  border-radius: 100px;
  color: #555; /* normal state */
  transition: color 0.3s ease;
}

.socials:hover {
  color: inherit;
}

/*

1280px LAPTOPS

*/

@media (max-width:1280px) {
  
  .titles__large--templates {
    font-size: 36px;
  }
}

@media (max-width: 1024px) {
  
  .nav__links--container {
    display: none; 
  }
  
  .btn__menu {
    display: block;
  }
  
  .nav__links--container {
    display: none; 
  }
  
  .btn__menu {
    display: block;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    text-align: center;
  }
  
  .header__row {
    justify-content: center;
  }

  .templates__row {
    flex-direction: column;
    padding: 0;
  }
  
  .templates__description {
    max-width: 550px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 ;
  }
  
  .titles__large--templates {
    font-size: 30px;
  }
  
  .templates__para {
    font-size: 16px;
    margin: 20px 0;
  }

  .cta-container {
    margin: 0 auto;
  }
  
  .template__picture {
    width: 60%;
  /*  justify-content: center;*/
  }

  .template__img--wrapper {
    width: 100%;
    margin-top: 24px;
    display: flex;
    justify-content: center;
  }
  
  .template__img {
    max-width: 500px;
    width: 100%;
  }
  
  .p {
    text-align: center;
    margin-top: 48px;
  }

  .template__picture {
    width: 100%;
  }

  .templates__img {
    padding: 0;
  }

  .template__picture {
    max-width: 700px;
    margin: 0 auto;
  }

  .template__img {
    width: 100%;
    margin: 0 auto;
    justify-content: center;
  }

  .titles__large {
    font-size: 36px;
  }

  .features__sub-title {
    font-size: 48px;
  }

  .quality__para {
    font-size: 16px;
  }

  .quality__description {
    padding-right: 48px;
  } 

  .quality__picture {
    margin: 36px;
  }

  .steps__title--large {
    font-size: 36px;
  }

  .value__card {
    max-width: 70%;
  }

  .value__card--2 {
    max-width: 70%;
  }

  .pricing__title--large {
    font-size: 48px;
  }

  .plans__para {
    font-size: 16px;
  }

  .pricing__card {
    width: 100%;
  }

  .description__para {
    font-size: 16px;
  }

  .world__card--wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .world__text {
    width: 100%;
    text-align: center;
  }

  .world__buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 24px;
  }

  .footer__container {
    padding: 80px 32px;
  }

}

/*

TABLETS AND SMALL SCREENS

*/

@media (max-width: 768px) {
  .nav__links {
    margin-right: 8px;
  }

  .header {
    display: flex;
    flex-direction: column;
  }

  .services {
    flex-wrap: wrap;
  }

  .quality__work {
    margin-top: 32px;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }

  .quality__picture {
    width: 65%;
  }

  .quality__work--description {
    margin-right: 0;
    width: 65%;
  }

  .quality__para {
    margin-bottom: 0;
  }

  .quality__btn {
    margin: 0 auto;
    margin-top: 32px;
  }

  .quality__para {
    font-size: 14px;
  }

  .laptop__steps--box {
    display: flex;
    margin: 0 auto;
  }
  
  .laptop__steps--wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  
  .laptop {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .laptop__pic--wrapper {
    max-width: 70%;
    margin: 0;
  }

  .steps {
    width: 75%;
    display: flex;
    align-items: center;
    padding: 64px 0 0 0;
    text-align: center;
  }
  
  .steps__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .step__number{
    margin: 0 auto;
  }
  
  .step__container {
    max-width: 360px;
    margin-top: 36px;
  }

  .values__description--picture {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .values__description {
    width: 100%;
    max-width: 448px;
    margin: 0 auto;
    padding: 0;
    align-items: center;
    text-align: center;
  }

  .values__para {
    font-size: 14px;
  }

  .values__cards {
    justify-content: center;
  }

  .value__card {
    margin-right: 0;
  }

  .value__card--heading {
    justify-content: center;
  }

  .values__pic {
    margin-top: 64px;
  }

  .values__picture {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }

  .testimonials__row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .testimonials__pic--wrapper {
    width: 65%;
  }
  
  .testimonials__description {
    width: 65%;
    margin-top: 64px;
    padding: 0;
    align-items: center;
    text-align: center;
  }
  
  .client__testimonial {
    display: flex;
    flex-direction: column;
  }

  .world__text {
    width: 100%;
    text-align: center;
  }
  
  .footer__links {
    flex-wrap: wrap;
    justify-content: center;
  }

  .links { 
    padding: 0 16px;
  }

  .footer__info {
    display: flex;
    flex-direction: column;
  }

  .trademarks {
    margin-top: 32px;
  }

  .footer__socials {
    margin-top: 32px;
  }
  
}

/*

640 PX

*/

@media (max-width: 640px){

  /*
  .cta-container {
  width: 100%;
  max-width: 448px;
  height: auto;
  display: block;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}
  .cta-button {
  display: inline-block;
  position: relative;
  z-index: 2;
  margin: 8px 0;
  padding: 16px 32px;
  width: 200px;
  }
*/
  .header, .features__container, .quality__work, .laptop__steps--box, .values__description--picture, .plans, .testimonials { 
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .footer__container {
    margin-top: 80px;
  }

  .features__sub-title {
    font-size: 36px;
  }

  .para__features {
    font-size: 14px;
  }

  .service {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .service__list--title {
    margin: 0 auto;
  }

  .service__para {
    text-align: center;
  }

  .quality__work {
    margin-top: 0;
  }
  
  .quality__picture {
    width: 100%;
  }

  .quality__img {
    max-width: 448px;
  }
  .quality__titles--large {
    font-size: 30px;
  }

  .quality__work--description {
    width: 80%;
  }




  .laptop {
    max-width: 500px;
  }

  .laptop__pic--wrapper {
    width: 100%;
  }

  .laptop__pic--img {
    width: 100%;
  }



  .values__picture {
    margin: 0;
    margin: 0 auto;
  }

  .values__pic {
    margin: 0;
  }

  .values__description {
    margin-top: 64px;
  }

  .pricing__title--large {
    font-size: 36px;
  }

  .plans__para {
    font-size: 14px;
  }

  .testimonials__description {
    width: 80%
  }

  .testimonials__title--large {
    padding: 0;
    font-size: 30px
  }

  .description__para {
    font-size: 14px;
  }

  .client {
    width: 100%;
    display: inline-block;
    display: flex;
    flex-direction: column;
  }

  .arrows {
    display: 
  }

  .world__card {
    margin: 0 32px;
    padding: 80px 0;
  }

  .world__card--wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 80px 0;
  }
  
  .world__text {
    margin: 0 32px;
    margin: 0 auto;
    font-size: 24px;
  }

  .world__btn, .world__btn--contact {
    width: auto;
    margin: 24px 0 0 0;
    padding: 12px 24px;
    font-size: 14px;
  }

  .world__btn--contact {
    margin-top: 16px;
  }
}

/* 

SMALL PHONES

*/

@media (max-width: 480px) {
   
}